{
    "extends": [
        "airbnb"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
          "jsx": true
        }
      },
    "rules": {
        "linebreak-style" : 0,
        "jsx-a11y/": "off"
    }
}